<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Thread_102.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <log4net>
    <appender name="TickLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/tick.txt"/>
      <appendToFile value="true"/>
      <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
        <param name="FileNamePattern" value="logs/tick.%d{yyyy-MM}.gz"/>
      </rollingPolicy>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline"/>
      </layout>
    </appender>
  
    <logger name="tick_logger">
      <level value="ALL"/>
      <appender-ref ref="TickLogFileAppender"/>
    </logger>
  
  </log4net>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Thread_102.Properties.Settings>
            <setting name="TickFrequency" serializeAs="String">
                <value>100</value>
            </setting>
        </Thread_102.Properties.Settings>
    </userSettings>
</configuration>